@import "tailwindcss";

@theme {
    --breakpoint-xxs: 240px;
    --breakpoint-xs: 320px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}

body {
    background-color: oklch(14.5% 0 0);
}

::-webkit-scrollbar{
    display: none;
}